﻿/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir Bækholt)
** All you guys rock :)
*/

/* Font size:
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

.page {
	font: x-small sans-serif;
}

/* scale back up to a sane default */
.page article {
	font-size: 100%;
	line-height: 1.5em;
}
.visualClear {
	clear: both;
}

/* general styles */

table {
	font-size: 100%;
	/*CHRISTIAN
	color: black;
		we don't want the bottom borders of <h2>s to be visible through
		floated tables
	background-color: white;*/

}
a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
li.new a,
a.new {
	color: #ba0000 !important;
}
li.new a:visited,
a.new:visited {
	color: #a55858;
}

img {
	border: none;
	vertical-align: middle;
}
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 {
	font-size: 150%; 
}
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }

ul {
	line-height: 1.5em;
	
	margin: .3em 0 0 1.5em;
	padding: 0;
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}

textarea {
	width: 100%;
	padding: .1em;
}

input.historysubmit {
	cursor: pointer;
	font-size: 88%;
	margin-left: 1.6em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
code {
	background-color: #f9f9f9;
	color: #000;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
	overflow: auto;
	max-height: 800px;
}

/*
** the main content area
*/

#siteSub {
	display: none;
}
#jump-to-nav {
	display: none;
}

#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}

/* Some space under the headers in the content area */
.body_content h1, .body_content h2 {
	margin-bottom: .6em;
}
.body_content h3, .body_content h4, .body_content h5 {
	margin-bottom: .3em;
}
.firstHeading {
	margin-bottom: .5em;
	overflow: visible;
}

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

#catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	color: black; /*CHRISTIAN*/
	padding: 10px 5px;
	margin-top: 1em;
	clear: both;
}

/* currently unused, intended to be used by a metadata box
in the bottom-right corner of the content area */
.documentDescription {
	/* The summary text describing the document */
	font-weight: bold;
	display: block;
	margin: 1em 0;
	line-height: 1.5em;
}
.documentByLine {
	background-color: white; /*CHRISTIAN*/
	text-align: right;
	font-size: 90%;
	clear: both;
	font-weight: normal;
	color: #76797c;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

/*
** content styles
*/

#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	color: black; /*CHRISTIAN*/
	padding: 5px;
	font-size: 95%;
}
/* haleyjd 20140420: fix improper expansion of TOC to full article width */
#toc, .toc {
  display: inline-block;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	width: auto;
}
div.thumbinner {
	color: black; /*CHRISTIAN*/
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}

/*CHRISTIAN*/
div.thumbinner a {
	color: #002bb8;
}
/*CHRISTIAN*/

html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	/*background: none !important;CHRISTIAN*/
}
div.tright {
	clear: right;
	float: right;
	/*border-width: .5em 0 .8em 1.4em;CHRISTIAN*/

	/*CHRISTIAN*/
	margin: .5em 0 1.2em 1.4em;
	/*CHRISTIAN*/
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	/*border-width: .5em 1.4em .8em 0;CHRISTIAN*/

	/*CHRISTIAN*/
	margin: .5em 1.4em 1.2em 0;
	/*CHRISTIAN*/
}

/* Macbre: RT #21087 - end */

img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	color: #000;
	padding: 5px;
	font-size: 95%;
}
div.townBox {
	position: relative;
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: .3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.townBox dl {
	padding: 0;
	margin: 0 0 .3em;
	font-size: 96%;
}
div.townBox dl dt {
	background: none;
	margin: .4em 0 0;
}
div.townBox dl dd {
	margin: .1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment {
	color: gray;
}
#pagehistory span.user {
	margin-left: 1.4em;
	margin-right: .4em;
}
#pagehistory span.minor {
	font-weight: bold;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
.body_content a.external,
.body_content a[href ^="gopher://"] {
	background: url(../../../monobook/external.png) center right no-repeat;
	padding-right: 13px;
}
.body_content a[href ^="https://"],
.link-https {
	background: url(../../../monobook/lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}
.body_content a[href ^="mailto:"],
.link-mailto {
	background: url(../../../monobook/mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}
.body_content a[href ^="news://"] {
	background: url(../../../monobook/news_icon.png) center right no-repeat;
	padding-right: 18px;
}
.body_content a[href ^="ftp://"],
.link-ftp {
	background: url(../../../monobook/file_icon.gif) center right no-repeat;
	padding-right: 18px;
}
.body_content a[href ^="irc://"],
.link-irc {
	background: url(../../../monobook/discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}
.body_content a.external[href $=".ogg"], .body_content a.external[href $=".OGG"],
.body_content a.external[href $=".mid"], .body_content a.external[href $=".MID"],
.body_content a.external[href $=".midi"], .body_content a.external[href $=".MIDI"],
.body_content a.external[href $=".mp3"], .body_content a.external[href $=".MP3"],
.body_content a.external[href $=".wav"], .body_content a.external[href $=".WAV"],
.body_content a.external[href $=".wma"], .body_content a.external[href $=".WMA"],
.link-audio {
	background: url("../../../monobook/audio.png") center right no-repeat;
	padding-right: 13px;
}
.body_content a.external[href $=".ogm"], .body_content a.external[href $=".OGM"],
.body_content a.external[href $=".avi"], .body_content a.external[href $=".AVI"],
.body_content a.external[href $=".mpeg"], .body_content a.external[href $=".MPEG"],
.body_content a.external[href $=".mpg"], .body_content a.external[href $=".MPG"],
.link-video {
	background: url("../../../monobook/video.png") center right no-repeat;
	padding-right: 13px;
}
.body_content a.external[href $=".pdf"], .body_content a.external[href $=".PDF"],
.body_content a.external[href *=".pdf#"], .body_content a.external[href *=".PDF#"],
.body_content a.external[href *=".pdf?"], .body_content a.external[href *=".PDF?"],
.link-document {
	background: url("../../../monobook/document.png") center right no-repeat;
	padding-right: 12px;
}

/* disable interwiki styling */
.body_content a.extiw,
.body_content a.extiw:active {
	color: #36b;
	background: none;
	padding: 0;
}
a.external {
	color: #36b;
}
/* this can be used in the content area to switch off
special external link styling */
.body_content .plainlinks a {
	background: none !important;
	padding: 0 !important;
}

/*
** Structural Elements
*/

/* TODO: #t-iscite is only used by the Cite extension, come up with some
 * system which allows extensions to add to this file on the fly
 */
#t-ispermalink, #t-iscite {
	color: #999;
}

/* js pref toc */
#preftoc {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#preftoc li {
	background-color: #f0f0f0;
	color: #000;
}
#preftoc li {
	margin: 1px -2px 1px 2px;
	float: left;
	padding: 2px 0 3px 0;
	border: 1px solid #fff;
	border-right-color: #716f64;
	border-bottom: 0;
	position: relative;
	white-space: nowrap;
	list-style-type: none;
	list-style-image: none;
	z-index: 3;
}
#preftoc li.selected {
	font-weight: bold;
	background-color: #f9f9f9;
	color: #000;
	border: 1px solid #aaa;
	border-bottom: none;
	cursor: default;
	top: 1px;
	padding-top: 2px;
	margin-right: -3px;
}
#preftoc > li.selected {
	top: 2px;
}
#preftoc a,
#preftoc a:active {
	display: block;
	color: #000;
	padding: 0 .7em;
	position: relative;
	text-decoration: none;
}
#preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}
#prefcontrol {
	/*padding-top: 2em; @this breaks text on buttons */
	clear: both;
}
.ns-special #preferences {
	margin: 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em;
	background-color: #F9F9F9;
	color: #000;
}
.prefsection {
	border: none;
	padding: 0;
	margin: 0;
}
.prefsection fieldset {
	border: 1px solid #aaa;
	float: left;
	margin-right: 2em;
}
.prefsection legend {
	font-weight: bold;
}
.prefsection table, .prefsection legend {
	background-color: #F9F9F9;
	color: #000;
}
.mainLegend {
	display: none;
}
div.prefsectiontip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666;
}
.btnSavePrefs {
	font-weight: bold;
	padding-left: .3em;
	padding-right: .3em;
}

.preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}

.prefcache {
	font-size: 90%;
	margin-top: 2em;
}

div#userloginForm form,
div#userlogin form#userlogin2 {
	margin: 0 3em 1em 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em 2em;
	background-color: #f9f9f9;
	float: left;
}
.rtl div#userloginForm form,
.rtl div#userlogin form#userlogin2 {
	float: right;
}

div#userloginForm table,
div#userlogin form#userlogin2 table {
	background-color: #f9f9f9;
}

div#userloginForm h2,
div#userlogin form#userlogin2 h2 {
	padding-top: 0.5em;
}

div#userlogin .captcha,
div#userloginForm .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	background-color: white;
}

#loginend, #signupend {
	clear: both;
}

#userloginprompt, #languagelinks {
	font-size: 85%;
}

#login-sectiontip {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

#userlogin .loginText, #userlogin .loginPassword {
	width: 12em;
}

#userloginlink a, #wpLoginattempt, #wpCreateaccount {
	font-weight: bold;
}

/*
.page-Special_Userlogin #siteSub {
	visibility: hidden !important;
}

.page-Special_UserLogin .firstHeading {
	display: none !important;	
}
*/

div#userlogin form#userlogin2 label,
div #userlogin form#userlogin2 .pseudolabel {
	font-size: 115%;
	font-weight: bold;
}

div#userlogin form#userlogin2 input {
	margin-bottom: 4px;
}

/* 3338 */
#userloginForm form {
	float: left !important;
	position: relative;
}

div#userlogin form#userlogin2 table {
}

#userloginForm h2,
div#userlogin form#userlogin2 h2 {
	padding-top: 0.5em;
}

div#userlogin .captcha,
#userloginForm .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	background-color: white;
}

#userloginprompt, #languagelinks {
	font-size: 85%;
}

#signupWhyProvide {
	display: none;
}

#signupWhyProvide_copy {
	color: #000;
}

#login-sectiontip {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

#userlogin .loginText, #userlogin .loginPassword {
	width: 12em;
}

#userloginlink a, #wpLoginattempt, #wpCreateaccount {
	font-weight: bold;
}

/*
** IE/Mac fixes, hope to find a validating way to move this
** to a separate stylesheet. This would work but doesn't validate:
** @import("IEMacFixes.css");
*/
/* tabs: border on the a, not the div */
* > html #p-cactions li { border: none; }
* > html #p-cactions li a {
	border: 1px solid #aaa;
	border-bottom: none;
}
* > html #p-cactions li.selected a { border-color: #fabd23; }
/* footer icons need a fixed width */
* > html #f-poweredbyico,
* > html #f-copyrightico { width: 88px; }
* > html .body_content,
* > html .body_content pre {
	overflow-x: auto;
	width: 100%;
	padding-bottom: 25px;
}

/* more IE fixes */
/* float/negative margin brokenness */
* html #column-content {
	display: inline;
	margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }

/* Mac IE 5.0 fix; floated content turns invisible */
* > html #column-content {
	float: none;
}
* > html #column-one {
	position: absolute;
	left: 0;
	top: 0;
}
.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	font-size: 75%;
	text-align: right;
}
span.newpage, span.minor, span.searchmatch, span.bot {
	font-weight: bold;
}
span.unpatrolled {
	font-weight: bold;
	color: red;
}

span.searchmatch {
	color: red;
}
.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}

table.gallery {
	margin: 2px;
	padding: 2px;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	color: black; /*CHRISTIAN*/
	vertical-align: top;
}

/*CHRISTIAN*/
table.gallery td a {
	color: #002bb8;
}
/*CHRISTIAN*/

/* Keep this temporarily so that cached pages will display right */
table.gallery td.galleryheader {
    text-align: center;
	font-weight: bold;
}
table.gallery caption {
	font-weight: bold;../../../
}

div.gallerytext {
	overflow: hidden;
	font-size: 94%;
	padding: 2px 4px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
	color: #000;
}

table.mw_metadata td {
	background-color: #fcfcfc;
	color: #000;
}

table.collapsed tr.collapsable {
	display: none;
}


/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	color: #000;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

input#wpSummary {
	width: 80%;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}

#editform .editOptions {
	display: inline;
	
	/* haleyjd 20140420: must override some options getting inherited from monobook or somewhere... */
	background: none;
	border:     none;
	padding:    0;
}

/* haleyjd 20140420: Needs to stick out better */
#wpSummaryLabel {
  font-weight: bold;
}

#wpSave {
	font-weight: bold;
}

/* Classes for article validation */

table.revisionform_default {
	border: 1px solid #000000;
}

table.revisionform_focus {
	border: 1px solid #000000;
	background-color:#00BBFF;
}

tr.revision_tr_default {
	background-color:#EEEEEE;
}

tr.revision_tr_first {
	background-color:#DDDDDD;
}

p.revision_saved {
	color: green;
	font-weight:bold;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}


/* Allmessages table */

#allmessagestable th {
	background-color: #b2b2ff;
	color: #000;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
	color: #000;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
	color: #000;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
	color: #000;
}


/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left:       10px;
	top:        10px;
	width:      90%;
	background: white;
}

div#searchTarget {
	padding:    3px;
	margin:     5px;
	background: #F0F0F0;
	border:     solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

div.multipageimagenavbox {
   border: solid 1px silver;
   padding: 4px;
   margin: 1em;
   -moz-border-radius: 6px;
   -khtml-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
   border: none;
   margin-left: 2em;
   margin-right: 2em;
}

div.multipageimagenavbox hr {
   margin: 6px;
}

table.multipageimage td {
   text-align: center;
}

/** Special:Version */

table#sv-ext, table#sv-hooks {
	margin: 1em;
	padding:0em;
}

#sv-ext td, #sv-hooks td,
#sv-ext th, #sv-hooks th {
	border: 1px solid #A0A0A0;
	padding: 0 0.15em 0 0.15em;
}
#sv-ext th, #sv-hooks th {
	background-color: #F0F0F0;
	color: black;
	padding: 0 0.15em 0 0.15em;
}
tr.sv-space{
	height: 0.8em;
	border:none;
}
tr.sv-space td { display: none; }

/*
  Table pager (e.g. Special:Imagelist)
  - remove underlines from the navigation link
  - collapse borders
  - set the borders to outsets (similar to Special:Allmessages)
  - remove line wrapping for all td and th, set background color
  - restore line wrapping for the last two table cells (description and size)
*/
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th {
	border: 1px solid #aaaaaa;
	padding: 0 0.15em 0 0.15em;
}
.TablePager th { background-color: #eeeeff; color: #000 }
.TablePager td { background-color: #ffffff; color: #000 }
.TablePager tr:hover td { background-color: #eeeeff }

.imagelist td, .imagelist th { white-space: nowrap }
.imagelist .TablePager_col_links { background-color: #eeeeff }
.imagelist .TablePager_col_img_description { white-space: normal }
.imagelist th.TablePager_sort { background-color: #ccccff }

.templatesUsed { margin-top: 1.5em; }

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Convenience links on Special:Ipblocklist */
p.mw-ipb-conveniencelinks {
	font-size: 90%;
	float: right;
}

/* Friendlier slave lag warnings */
div.mw-lag-warn-normal,
div.mw-lag-warn-high {
	padding: 3px;
	text-align: center;
	margin: 3px auto;
	color: #000;
}
div.mw-lag-warn-normal {
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
}
div.mw-lag-warn-high {
	font-weight: bold;
	border: 2px solid #FF0033;
	background-color: #FFCCCC;
}

/* Recreating-deleted-page/reupload file warning and log entries */
div#mw-upload-deleted-warn,
div#mw-recreate-deleted-warn {
	padding: 3px;
	margin-bottom: 3px;
	border: 2px solid #2F6FAB;
}
div#mw-upload-deleted-warn ul li,
div#mw-recreate-deleted-warn ul li {
	font-size: 90%;
}
.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}
.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}

/* MW arrow icons */
.mw-arr-r {
	background-image: url('../../../common/images/Arr_r.png');
	background-repeat: no-repeat;
}

.mw-arr-l {
        background-image: url('../../../common/images/Arr_l.png');
        background-repeat: no-repeat;
}

.mw-arr-d,
.mw-sort-desc {
        background-image: url('../../../common/images/Arr_d.png');
        background-repeat: no-repeat;
}

.mw-arr-u,
.mw-sort-asc {
        background-image: url('../../../common/images/Arr_u.png');
        background-repeat: no-repeat;
}

.mw-hide-images img {
        display: none;
}

/* Table Sort */
.TablePager_sort {
	background-position: 2px 50%;
}

.TablePager th a {
	display: block;
}

.TablePager_sort a {
	padding: 0 4px 0 16px;
}

.TablePager_sort img {
	display: none;
}


/* Fixes for ChangesList */
.changes-list-entry a.mw-arr-d,
.changes-list-entry a.mw-arr-r {
        display: block;
        width: 12px;
        height: 12px;
        float: left;
        position: relative;
        top: 5px;
}

.changes-list-entry a img {
	display: none;
}

/* Arcane's fixes for display errors with the WikiEditor extension */

.toolbar {
    border-top-style: none!important;
    border-top-width: 1px;
    padding: 0px 0px !important;
}

/* Expandable Sections */
.wikiEditor-ui-toolbar .sections {
	width: 98%!important;
}